//additional styling if necessary for index.html goes here


header
	padding: 2vw

footer
	padding: 3vw

.bg_lighter_dark
	background-color: #32414e

.bg_krass_dark
	background-color: #111111

.movie_box_wrapper
	padding: 1vw
	font-size: 2vmax !important

.text-box
	padding: 1vw 1vw 1vw 0
	

.like_text
	display: inline-block
	margin-bottom: 0

.like_pad
	padding: 0 0.4vw 0 0.4vw

.btn
	border: none

.circle
	padding: 0.5vw
	border-radius: 50%
	border: none
	width: 100%
	
.movie_box_wrapper img
	padding: 1vw
	border-radius: 0.5vw
	width: auto
	height: 25vh

@media only screen and (min-width: 768px)
	.like_button
		padding: 0.7vw
	
	h3
		font-size: 2.2vmin !important
		font-weight: bolder

	.movie_box_wrapper, h4
		font-size: 1.8vmin !important

	.movie_box_wrapper img
		height: 23vh

@media only screen and (min-width: 992px)
	.like_button
		padding: 0.5vw
	
	h3
		font-size: 1.8vmin !important
		font-weight: bolder

	.movie_box_wrapper, h4
		font-size: 1.4vmin !important

	.movie_box_wrapper img
		height: 23vh

@media only screen and (min-width: 1200px)
	.like_button
		padding: 0.4vw
	
	h3
		font-size: 1.7vmin !important
		font-weight: bolder

	.movie_box_wrapper, h4
		font-size: 1.3vmin !important

	.movie_box_wrapper img
		height: 23vh